

        .body-initial {background-color: rgb(232, 232, 232);
        }
        .silex-id-1654176270511-2 {top: 635px; left: 775px; height: 48px; width: 100px;
        }

        .silex-id-1654176270511-2 > button {border-color: rgb(128, 128, 128); border-width: 0px; border-style: solid; background-color: rgb(21, 76, 147); color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif;  border-radius: 2px;
        }

        .silex-id-1654176270511-2 > button:hover {
                    background-color: rgb(19 63 119)
                }


        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 900px; height: 700px;
        }
        .silex-id-1654178785793-10 {top: 600px; left: 20px; height: 92px; width: 365px;
        }
        .silex-id-1654180140485-12 {top: 460px; left: 20px; height: 120px; width: 840px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654174587149-1 {top: 20px; left: 20px; height: 160px; width: 840px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654180095381-11 {top: 180px; left: 20px; height: 140px; width: 840px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654177256920-4 {top: 320px; left: 20px; height: 118px; width: 337px;
        }
    
        .silex-id-1653920984996-4 {top: 700px; left: 10px; height: 40px; width: 560px; font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color: rgb(40, 40, 40); 
        }
    