

        .body-initial {background-color: rgb(232, 232, 232);
        }
        .silex-id-1653920762115-0 {top: 20px; left: 20px; height: 97.75px; width: 255px;
        }
        .silex-id-1653920776911-1 {top: 55px; left: 280px; height: 76.5px; width: 195.5px;
        }
        .silex-id-1653920984996-4 {top: 700px; left: 10px; height: 40px; width: 560px; font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color: rgb(40, 40, 40); 
        }
        .silex-id-1653924776069-6 {top: 650px; left: 800px; height: 25px; width: 80px;
        }

        .silex-id-1653924776069-6  > button {border-color: rgb(128, 128, 128); border-width: 0px; border-style: solid; background-color: rgb(21, 76, 147); color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif;  border-radius: 2px;
        }

       .silex-id-1653924776069-6  > button:hover {
                    background-color: rgb(19 63 119)
                }

        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 900px; height: 700px;
        }
        .silex-id-1653923370609-5 {top: 150px; left: 25px; height: 420px; width: 860px; font-weight: normal; font-size: 14px; font-family: Tahoma, Geneva, sans-serif;
        }
    