

        .body-initial {background-color: rgb(232, 232, 232);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 900px; height: 700px;
        }
        .silex-id-1656339358462-1 {top: 20px; left: 20px; height: 40px; width: 800px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1656339448184-2 {top: 110px; left: 20px; height: 40px; width: 800px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1656339571013-4 {top: 40px; left: 20px; height: 1.4em; width: 700px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1656339587968-5 {top: 130px; left: 20px; height: 1.4em; width: 700px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1656339606737-6 {top: 200px; left: 20px; height: 40px; width: 740px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1656339747408-7 {top: 220px; left: 20px; height: 1.4em; width: 700px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1656339880117-8 {top: 290px; left: 20px; height: 40px; width: 720px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1656339959245-10 {top: 310px; left: 20px; height: 1.4em; width: 700px; font-family: Tahoma, Geneva, sans-serif;
        }

        .silex-id-1656339991929-12 {top: 400px; left: 20px; height: 20px; width: 720px; font-family: Tahoma, Geneva, sans-serif;
        }



        .silex-id-1656339986779-11 {top: 650px; left: 820px; height: 25px; width: 64px;
        }

        .silex-id-1656339986779-11  > button {border-color: rgb(128, 128, 128); border-width: 0px; border-style: solid; background-color: rgb(21, 76, 147); color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif;  border-radius: 2px;
        }

       .silex-id-1656339986779-11 > button:hover {
                    background-color: rgb(19 63 119); }

    


         .silex-id-1656339991929-120 {top: 445px; left: 20px; height: 20px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }

         .silex-id-1656340024821-130 {top: 430px; left: 100px; height: 40px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }
            
         .silex-id-1656339991929-121 {top: 510px; left: 20px; height: 20px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }

         .silex-id-1656340024821-131 {top: 495px; left: 100px; height: 40px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }

         .silex-id-1656339991929-122 {top: 575px; left: 20px; height: 20px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }

         .silex-id-1656340024821-132 {top: 560px; left: 100px; height: 40px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }