

        .body-initial {background-color: rgb(232, 232, 232); height: 696.95px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 900px; height: 700px;
        }
        .silex-id-1654081382992-0 {top: 150px; left: 40px; height: 300px; width: 800px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654081406518-1 {top: 650px; left: 800px; height: 28px; width: 75px;
        }

        
        .silex-id-1653920984996-4 {top: 700px; left: 10px; height: 40px; width: 560px; font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color: rgb(40, 40, 40); 
        }
    

        .silex-id-1654081406518-1  > button {border-color: rgb(128, 128, 128); border-width: 0px; border-style: solid; background-color: rgb(21, 76, 147); color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif;  border-radius: 2px;
        }

       .silex-id-1654081406518-1  > button:hover {
                    background-color: rgb(19 63 119)
                }