

        .body-initial {background-color: rgb(232, 232, 232);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 900px; height: 700px;
        }
        .silex-id-1654686497762-0 {top: 60px; left: 40px; height: 40px; width: 180px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654687982935-1 {top: 60px; left: 180px; height: 1.4em; width: 40px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654688051983-2 {top: 60px; left: 225px; height: 20px; width: 60px; font-family: Tahoma, Geneva, sans-serif;
        }
    
        .silex-id-1654688206839-4 {top: 140px; left: 40px; height: 40px; width: 160px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654688246873-5 {top: 140px; left: 200px; height: 1.4em; width: 200px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654688285848-6 {top: 220px; left: 40px; height: 20px; width: 540px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654688394190-7 {top: 220px; left: 540px; height: 1.4em; width: 280px; font-family: Tahoma, Geneva, sans-serif;
        }
    

        .silex-id-1654688198817-3 {top: 650px; left: 820px; height: 25px; width: 64px;
        }

        .silex-id-1654688198817-3  > button {border-color: rgb(128, 128, 128); border-width: 0px; border-style: solid; background-color: rgb(21, 76, 147); color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif;  border-radius: 2px;
        }

       .silex-id-1654688198817-3  > button:hover {
                    background-color: rgb(19 63 119); }


         .silex-id-1653920984996-4 {top: 700px; left: 10px; height: 40px; width: 560px; font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color: rgb(40, 40, 40); 
        }