

        .body-initial {background-color: rgb(232, 232, 232);
        }
        .silex-id-1654268974689-26 {top: 650px; left: 820px; height: 25px; width: 64px;
        }
        .silex-id-1654605770734-34 {top: 140px; left: 80px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654605800260-35 {top: 140px; left: 380px; height: 20px; width: 100px;
        }
        .silex-id-1654606190666-44 {top: 100px; left: 100px; height: 0px; width: 0px; display: none;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 160px; width: 900px; height: 700px;
        }
        .silex-id-1654609315944-48 {top: 180px; left: 80px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609451859-1 {top: 220px; left: 80px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609435261-0 {top: 180px; left: 380px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609474282-2 {top: 220px; left: 380px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609672353-3 {top: 260px; left: 80px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609689018-4 {top: 260px; left: 380px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609711266-5 {top: 300px; left: 80px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609730876-6 {top: 300px; left: 380px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609765185-7 {top: 340px; left: 80px; height: 20px; width: 120px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609794447-8 {top: 340px; left: 382px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609822555-9 {top: 380px; left: 80px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609848053-10 {top: 380px; left: 380px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609866932-11 {top: 420px; left: 80px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654609883479-12 {top: 420px; left: 380px; height: 20px; width: 100px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654605994347-43 {top: 40px; left: 80px; height: 100px; width: 720px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654610009096-17 {top: 140px; left: 280px; height: 20px; width: 20px;
        }
        .silex-id-1654610302433-24 {top: 180px; left: 280px; height: 20px; width: 20px;
        }
        .silex-id-1654610310220-25 {top: 180px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1654610334549-26 {top: 180px; left: 320px; height: 20px; width: 20px;
        }
        .silex-id-1654610399875-30 {top: 220px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1654610420377-32 {top: 300px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1654610390420-29 {top: 220px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1654610377069-28 {top: 220px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1654610439717-33 {top: 340px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1654610536195-34 {top: 380px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1654610544393-35 {top: 420px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1654610554082-36 {top: 220px; left: 280px; height: 20px; width: 20px;
        }
        .silex-id-1654610561686-37 {top: 220px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1654610578006-39 {top: 220px; left: 340px; height: 20px; width: 20px;
        }
        .silex-id-1654610603202-40 {top: 260px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1654610613851-41 {top: 300px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1654610627296-43 {top: 340px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1654610637468-44 {top: 380px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1654610644031-45 {top: 420px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1654610672605-46 {top: 260px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1654610689525-48 {top: 260px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1654610696391-49 {top: 260px; left: 320px; height: 20px; width: 20px;
        }
        .silex-id-1654610711741-51 {top: 260px; left: 340px; height: 20px; width: 20px;
        }
        .silex-id-1654610682106-47 {top: 260px; left: 280px; height: 20px; width: 20px;
        }
        .silex-id-1654610734327-53 {top: 340px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1654610747112-55 {top: 380px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1654610755383-56 {top: 420px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1654610795274-58 {top: 300px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1654610802286-59 {top: 300px; left: 320px; height: 20px; width: 20px;
        }
        .silex-id-1654610845970-60 {top: 300px; left: 340px; height: 20px; width: 20px;
        }
        .silex-id-1654610852940-61 {top: 340px; left: 280px; height: 20px; width: 20px;
        }
        .silex-id-1654610864683-62 {top: 380px; left: 280px; height: 20px; width: 20px;
        }
        .silex-id-1654610879628-63 {top: 420px; left: 280px; height: 20px; width: 20px;
        }
        .silex-id-1654610895821-64 {top: 340px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1654610911310-65 {top: 340px; left: 320px; height: 20px; width: 20px;
        }
        .silex-id-1654610921153-66 {top: 340px; left: 340px; height: 20px; width: 20px;
        }
        .silex-id-1654610927773-67 {top: 380px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1654610938188-68 {top: 420px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1654610949470-69 {top: 380px; left: 320px; height: 20px; width: 20px;
        }
        .silex-id-1654610957172-70 {top: 380px; left: 340px; height: 20px; width: 20px;
        }
        .silex-id-1654610977325-72 {top: 420px; left: 340px; height: 20px; width: 20px;
        }
        .silex-id-1654611054135-73 {top: 120px; left: 120px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1654609961794-13 {top: 140px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1654609992896-16 {top: 140px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1654610018418-18 {top: 140px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1654610042256-20 {top: 140px; left: 340px; height: 20px; width: 20px;
        }
        .silex-id-1654610266773-21 {top: 180px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1654610287744-22 {top: 180px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1654610295141-23 {top: 180px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1654610348653-27 {top: 180px; left: 340px; height: 20px; width: 20px;
        }
        .silex-id-1654610412371-31 {top: 260px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1654609982751-15 {top: 140px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1654610028558-19 {top: 140px; left: 320px; height: 20px; width: 20px;
        }
        .silex-id-1654610571306-38 {top: 220px; left: 320px; height: 20px; width: 20px;
        }
        .silex-id-1654610726941-52 {top: 300px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1654610781667-57 {top: 300px; left: 280px; height: 20px; width: 20px;
        }
        .silex-id-1654610969995-71 {top: 420px; left: 320px; height: 20px; width: 20px;
        }
    

                  
        .silex-id-1654268974689-26  > button {border-color: rgb(128, 128, 128); border-width: 0px; border-style: solid; background-color: rgb(21, 76, 147); color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif;  border-radius: 2px;
        }

        .silex-id-1654268974689-26   > button:hover {
                    background-color: rgb(19 63 119); }

        .silex-id-1653920984996-4 {top: 700px; left: 10px; height: 40px; width: 560px; font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color: rgb(40, 40, 40); 
        }