

        .body-initial {background-color: rgb(232, 232, 232);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 900px; height: 700px;
        }
        .silex-id-1654266430655-13 {top: 60px; left: 40px; height: 20px; width: 800px; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1654267964865-16 {top: 140px; left: 80px; height: 20px; width: 100px;
        }
        .silex-id-1654267990773-17 {top: 180px; left: 80px; height: 20px; width: 100px;
        }
        .silex-id-1654268022835-19 {top: 220px; left: 80px; height: 20px; width: 100px;
        }
        .silex-id-1654268791866-23 {top: 180px; left: 160px; height: 20px; width: 260px;
        }
        .silex-id-1654267254780-14 {top: 100px; left: 160px; height: 20px; width: 260px; font-weight: bold;
        }
        .silex-id-1654268773277-22 {top: 140px; left: 160px; height: 20px; width: 260px;
        }
        .silex-id-1654268974689-26 {top: 650px; left: 820px; height: 25px; width: 64px;
        }

        .silex-id-1654268974689-26  > button {border-color: rgb(128, 128, 128); border-width: 0px; border-style: solid; background-color: rgb(21, 76, 147); color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif;  border-radius: 2px;
        }

       .silex-id-1654268974689-26   > button:hover {
                    background-color: rgb(19 63 119); }

        .silex-id-1654268822558-25 {top: 220px; left: 160px; height: 20px; width: 260px; font-weight: bold; color: rgb(24, 138, 19);
        }

        .silex-id-1653920984996-4 {top: 700px; left: 10px; height: 40px; width: 560px; font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color: rgb(40, 40, 40); 
        }
    


                .silex-id-1654267964865-160 {top: 260px; left: 63px; height: 20px; width: 560px; font-family: Tahoma, Geneva, sans-serif; font-size: 12px;
        }

        
        .silex-id-1654177256920-400 {top: 90px; left: 60px; height: 170px; width: 385px; 
        }
    