

        .body-initial {background-color: rgb(232, 232, 232);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 900px; height: 700px;
        }

        .silex-id-1656339991929-12 {top: 50px; left: 50px; height: 20px; width: 750px; font-family: Tahoma, Geneva, sans-serif;
        }



        .silex-id-1656339986779-11 {top: 650px; left: 820px; height: 25px; width: 64px;
        }

        .silex-id-1656339986779-11  > button {border-color: rgb(128, 128, 128); border-width: 0px; border-style: solid; background-color: rgb(21, 76, 147); color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif;  border-radius: 2px;
        }

       .silex-id-1656339986779-11 > button:hover {
                    background-color: rgb(19 63 119); }

    


         .silex-id-1656339991929-120 {top: 145px; left: 40px; height: 20px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }

         .silex-id-1656340024821-130 {top: 130px; left: 120px; height: 40px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }
            
         .silex-id-1656339991929-121 {top: 230px; left: 40px; height: 20px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }

         .silex-id-1656340024821-131 {top: 215px; left: 120px; height: 40px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }

         .silex-id-1656339991929-122 {top: 315px; left: 40px; height: 20px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }

         .silex-id-1656340024821-132 {top: 300px; left: 120px; height: 40px; width: 620px; font-family: Tahoma, Geneva, sans-serif;
                    }